
.NotificationsContainer{
          width: 18pc;
          height: 60vh;
          background-color: white;
          margin-top: 20px;
          border-radius: 20px;
          overflow: hidden;
          overflow-y: scroll;
}


.exploreimage{
          width: 86px;
          margin-left: 4px;
          height: 150px;
          object-fit: cover;
          border-radius: 4px;
          margin-top: 6px;
}

.Profileimage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.addfriend{
    width: 20px;
    height: 20px
    
}